body{
    background-color:yellow;
    font-size: 13pt;
    /*presley-under*/
    overflow-x:hidden



}
/*Sean*/
#h_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*This is the navagtion bar styling*/
    background-color:black;
}
/*Sean*/
#h_bar li {

    float:left;

}
/*Sean*/
#h_bar li a{
    display:inline-block;
    color:white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    /*pres;ey*/
    box-shadow:inset 0 0 0 0 yellow;
    transition: ease-out 1s;
    position: relative;
    outline:none;
    cursor:pointer;
}



/*presley- adds a hover on nav bar that changes color, and also gives an animation when cursor is pointed in it*/
#h_bar li a:hover{
  box-shadow: inset 0 0 0 2px yellow;
  color:gray;
  cursor:pointer;
}
/*Sean*/
.para1{
    font-family: 'Oswald',
    sans-serif;
    font-family: 'Shippori Antique',
    sans-serif;
    float:left;

}

.para2{

}
/*Sean*/
.slider{

    width:800px;
    height: 500px;
    border-radius: 10px;
    overflow:hidden;

}
/*Sean*/
.slides{
    width: 500%;
    height:500px;
    display: flex;
}
/*Sean*/
.slides input{
    display: none;

}
/*Sean*/
.slide{
    width: 20%;
    transition: 4s;

}
/*Sean*/
.slide img{
    width:800px;
    height:500px;
}

/*css for manual navigation*/
/*Sean*/
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
/*Sean*/
.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}
/*Sean*/
.manual-btn:not(:last-child){

    margin-right: 40px;

}
/*Sean*/
.manual-btn:hover{
    background:black;

}
/*Sean*/
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -30%;
}

#radio4:checked~.first {
    margin-left: -50%;
}
/*This is used for radio buttons*/
h1{

}
/*Sean*/
.para2,.para4{
    font-family: 'Noto Sans JP',
    sans-serif;
    font-family: 'Oswald',
    sans-serif;
    font-family: 'Shippori Antique',
    sans-serif;
}

.para3{

    font-family: 'Noto Sans JP',
    sans-serif;

}

a{

}


a{
  font-family: 'Noto Sans JP',
  sans-serif;
  font-family: 'Oswald',
  sans-serif;
  font-family: 'Shippori Antique',
  sans-serif;
  color: yellow;

}



@media screen and (max-width: 800px) {

    .MHA{

        height: 600px;
        width:  600px;
    }





}

/*Sean*/
@media screen and(max-width:800px){


}
<
/*Sean*/
@media screen and(max-width:800px){


}


.para1{
    float:right;
    padding-left: 5%;
}

/*presley*/
.kirito_and_co{
  width:240px;
  height:380px;
  border-radius:15px;
  float:right;
  margin: 5px;

}
/*presley*/
.sao_cover{
  width:240px;
  height:380px;
  border-radius:15px;
  float:left;
  margin: 5px;
}
/*presley*/
.kirito_alfheim{
  position:relative;
  float: right;
  border-radius:15px;
  width:640px;
  height:360px;
}
/*presley*/
.sao_para,.contact-h2{
  font-family: 'Noto Sans JP',
  sans-serif;
  font-family: 'Oswald',
  sans-serif;
  font-family: 'Shippori Antique',
  sans-serif;
}
/*presley*/
.sao_list,.sao_list2{
  position:relative;
  right: -20px;
  font-family: 'Noto Sans JP',
  sans-serif;
  font-family: 'Oswald',
  sans-serif;
  font-family: 'Shippori Antique',
  sans-serif;
}

/*Sean*/
.MHA{
    padding:0;
    margin:0;
}


.container{
    padding:30px;
    font-size:15px;
    font-weight: 300;
    line-height: 24px;;

}

.container p{
    margin-bottom: 15px;
}

.picture{
    width:450px;
    position:relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    background-color: antiquewhite;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

/*Sean*/
.picture:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 8px solid #fff;
    z-index: 2;
    overflow:hidden;
    box-sizing: border-box;
}

/*solomon*/
.kage{
    width: 55%;
    height: 15%;
    position: relative;
    right: -250px;
}
/*solomon*/
.characters{
          position: relative;
          right:-600px;
}
/*solomon*/
table{
    position: relative;
    top:-225px;
  }
  /*solomon*/
  .narutopara1{
    font-family: 'Noto Sans JP',
    sans-serif;
    font-family: 'Oswald',
    sans-serif;
    font-family: 'Shippori Antique',
    sans-serif;
  }

  /*solomon*/
table, th, td {
  border: 1px solid black;
}

/*prsley*/
.contact-page{
  margin: 0;
  padding: 0;
}
/*presley*/
.contact{
  width: 500px;
  box-shadow: 0 0 40px 0 grey;
  position: absolute;
  top: 30%;
  left: 31%;
  transform: translate( -30%. -50%);
}
/*presley*/
.input{
  width: 400px;
  height: 50px;
  padding-right:10px;
  padding-left: 10px;
  margin-top: 20px;
  border: 1px  grey;
  border-radius:14px;
  outline: none;
}
/*presley*/
.contact-form{
  margin: 25px;
}
/*presley*/
.textarea-field{
  height: 150px;
  padding-top: 10px;
}

/*presley*/
.button{
  margin-top:14px;
  padding: 5px;
  background-color: Transparent;
  background-repeat: no-repeat;
  background-color:white;
    border-radius: 10%;
    color:black;
    font-size:15px;
    border: none;
    box-shadow: inset 0 0 0 0 #000080;
    transition: ease-out 0.3s;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    position: relative;
    right: -40%;
  }

/*prsley - the transition of button wehn hovering*/
.button:hover{
  box-shadow: inset 100px 0 0 0 #000080;
  cursor: pointer;
  color: white;

}

/*presley*/
  .contact-h2{
    text-align: center;
  }

  /*presley*/
.SAO{
  margin: 0;
  padding: 0;
}

/*Sean*/

.intro{
  font-family: 'Noto Sans JP',
  sans-serif;
  font-family: 'Oswald',
  sans-serif;
  font-family: 'Shippori Antique',
  sans-serif;
}

/*Sean*/
.otaku{

  font-family: 'Noto Sans JP',
  sans-serif;
  font-family: 'Oswald',
  sans-serif;
  font-family: 'Shippori Antique',
  sans-serif;
}
.logo{

  align-items: center;
  padding-top: 1%;
}

/*Sean*/
.anime {
  border: 10 px solid 2px black;
  padding: 10 px;
  /*This styling is for the table*/
  border-spacing: 0;


}

/*Sean*/
.age {

  width: 40%;
  padding: 20px;
  /*This is for the age input*/
  margin: auto;


}

.email {

  width: 40%;
  padding: 20px;
  margin: auto;
  /*Email input*/
}

/*Sean*/

.gender {
  width: 40%;
  padding: 20 px;
  margin: auto;
}

/*Sean*/
.phone {

  width: 40%;
  padding: 20 px;
  margin: auto;
}

/*Sean*/
.surname {

  width: 40%;
  padding: 20 px;
  margin: auto;
}

/*Sean*/

.firstname {

  width: 40%;
  padding: 20px;
  margin: auto;
}

/*Sean*/
.shonen {

  width: 100%;
  height: 500px;
  align-items: center;
}
/*Sean*/
#div1{

  float:left;
  width:33%;
  height: 500px; /*This is a div for the paragraghs*/
}
/*Sean*/
#div2{

  width: 33%;
  float: right;
  height:500px;
}
/*Sean*/
#div3{

  width: 33%;
  margin: 0 auto;
  height:500px;
}
/*Sean*/
.stats{

  border: 1px solid black;


}
/*Sean*/
.MHApic{

  height:235 px;
  width:590 px;
}