body{
    background-color:gold;
    font-size: 13pt;

}

#h_bar{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*This is the navagtion bar styling*/
    background-color:green;

}

#h_bar li {

    float:left;
}

#h_bar li a{
  /*presley- fixed the nav bar*/
    display:inline-block;
    color:white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;

}

/*presley- adds a hover on nav bar that changes color*/
#h_bar li a:hover{
  color:black;
}
/*sean*/
.para1{
    font-family: 'Oswald',
    sans-serif;
    font-family: 'Shippori Antique',
    sans-serif;
    float:left;

}

.para2{

}
.slider{

    width:800px;
    height: 500px;
    border-radius: 10px;
    overflow:hidden;

}

.slides{
    width: 500%;
    height:500px;
    display: flex;
}

.slides input{
    display: none;

}

.slide{
    width: 20%;
    transition: 4s;

}

.slide img{
    width:800px;
    height:500px;
}

/*css for manual navigation*/

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}

.manual-btn:not(:last-child){

    margin-right: 40px;

}

.manual-btn:hover{
    background:black;

}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -30%;
}

#radio4:checked~.first {
    margin-left: -50%;
}
/*This is used for radio buttons*/
h1{

}

.para2,.para4{
    font-family: 'Noto Sans JP',
    sans-serif;
    font-family: 'Oswald',
    sans-serif;
    font-family: 'Shippori Antique',
    sans-serif;
}

.para3{

    font-family: 'Noto Sans JP',
    sans-serif;

}

a{

}

@media screen and (max-width: 800px) {

    .MHA{

        height: 600px;
        width:  600px;
    }



}

@media screen and(max-width:800px){


}

.para1{
    float:right;
    padding-left: 5%;
}
/*presley*/
.kirito_and_co{
  width:240px;
  height:380px;
  padding: 5px;
  border-radius: 15px;
  float:right;
}
/*presley*/
.saopara{
  font-family: 'Noto Sans JP',
  sans-serif;
  font-family: 'Oswald',
  sans-serif;
  font-family: 'Shippori Antique',
  sans-serif;
}
  /*sean*/
.container p{
    margin-bottom: 15px;
}

.picture{
    width:450px;
    position:relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    background-color: antiquewhite;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}
/*Sean*/
.picture:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 8px solid #fff;
    z-index: 2;
    overflow:hidden;
    box-sizing: border-box;
}
