body{
    background-color:gold;
    font-size: 13pt;
    /*presley-under*/
    overflow-x:hidden;
}

#h_bar{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*This is the navagtion bar styling*/
    background-color:black;

}

#h_bar li {

    float:left;
}
/*Sean*/
.Otaku{
    font-family: ;
}
#h_bar li a{
    /*presley*/
    display:inline-block;
    /*sean*/
    color:blue;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    /*preseley*/
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 1s;
    position: relative;
    outline:none;
    cursor:pointer



}

/*preseley- add a hover on nav bar that changes color,an also gives an animation whe cursor is pointed at it*/
#h1_bar li a:hover{

  box-shadow: inset 0 0 0 2px yellow;
  color:gray;
  cursor:pointer;
}
/*Sean*/
.para1{
    font-family: 'Oswald',
    sans-serif;
    font-family: 'Shippori Antique',
    sans-serif;
    float:left;

}

.para2{

}
/*Sean*/
.slider{

    width:800px;
    height: 500px;
    border-radius: 10px;
    overflow:hidden;

}
/*Sean*/
.slides{
    width: 500%;
    height:500px;
    display: flex;
}
/*Sean*/
.slides input{
    display: none;

}
/*Seam*/
.slide{
    width: 20%;
    transition: 4s;

}
/*Sean*/
.slide img{
    width:800px;
    height:500px;
}

/*css for manual navigation*/
/*Sean*/
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
/*Sean*/
.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}
/*Sean*/
.manual-btn:not(:last-child){

    margin-right: 40px;

}

.manual-btn:hover{
    background:black;

}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -30%;
}

#radio4:checked~.first {
    margin-left: -50%;
}
/*This is used for radio buttons*/
h1{

}

.para2,.para4{
    font-family: 'Noto Sans JP',
    sans-serif;
    font-family: 'Oswald',
    sans-serif;
    font-family: 'Shippori Antique',
    sans-serif;
}

.para3{

    font-family: 'Noto Sans JP',
    sans-serif;

}

/*presley*/
.saopara{
  font-family: 'Oswald',
  sans-serif;
  font-family: 'Shippori Antique',
  sans-serif;




}
/*presley*/
.kirito_and_co{
  width:294px;
  height:411px;
  margin:40px;
  float:right;
  position:relative;
  top:-300px;

}
.saopara{
  float:left;
}

/*Solomon*/
.characters{
  width: 50%;
  height: 30%;
  position:relative;
  top:-300px;
  float:Center;
  margin:0 0 0 15px;
}

.kage{
  width:50%;
  height:25%;
  position:relative;
  top:-300px;
  float:center;
  margin:0 0 0 15px;
}

/*Sean*/
.anime{
    border:10 px solid 2px black;
    padding: 10 px;   /*This styling is for the table*/
    border-spacing: 0;


}

/*Sean*/
.age{

    width: 40%;
    padding: 20px; /*This is for the age input*/
    margin: auto;
    

}
.email{

    width: 40%;
    padding: 20px;
    margin:auto; /*Email input*/
}

/*Sean*/

.gender{
    width: 40%;
    padding: 20 px;
    margin: auto;
}
/*Sean*/
.phone{

    width: 40%;
    padding: 20 px;
    margin:auto;
}

/*Sean*/
.surname{

    width: 40%;
    padding: 20 px;
    margin: auto;
}

/*Sean*/

.firstname{

    width: 40%;
    padding: 20px;
    margin: auto;
}

